Folder z zależnościami (bardzo ważne!)
node_modules

Plik ze zmiennymi środowiskowymi
.env

Folder lokalny Netlify
.netlify

Pliki systemowe (dobra praktyka)
.DS_Store

ZMIANA: Ignoruj plik README przeznaczony tylko dla gałęzi deweloperskiej
README.dev.md
