[build]
command = "echo 'Build command initiated'"
publish = "."
functions = "netlify/functions"

[context.production.environment]
NODE_VERSION = "18"
AWS_LAMBDA_JS_RUNTIME = "nodejs18.x"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200
